/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

td.wp-block-tableberg-cell {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
}
