td.wp-block-tableberg-cell {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;

    &.justify-left > * {
        float: left;
        text-align: left;
    }

    &.justify-right > * {
        float: right;
        text-align: right;
    }

    &.justify-center > * {
        margin: 0 auto;
        text-align: center;
    }

    &.justify-v-top {
        vertical-align: top;
    }

    &.justify-v-center {
        vertical-align: middle;
    }

    &.justify-v-bottom {
        vertical-align: bottom;
    }
}
