td.wp-block-tableberg-cell {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;

    &.align-left > * {
        margin-right: auto;
        text-align: left;
    }

    &.align-right > * {
        margin-left: auto;
        text-align: right;
    }

    &.align-center > * {
        margin-inline: auto;
        text-align: center;
    }

    &.align-v-top {
        vertical-align: top;
    }

    &.align-v-center {
        vertical-align: middle;
    }

    &.align-v-bottom {
        vertical-align: bottom;
    }
}
