.tab-block {
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 16px;
}

.tab-headings {
    display: flex;
    gap: 16px;
    padding: 8px 0;
}

.tab-heading {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position:relative;
    background-color: var(--tab-inactive-background-color); 
}

.tab-heading.active {
    border-bottom-color: var(--tab-active-color);
    background-color: var(--tab-active-background-color);

}

.add-tab-button:hover {
    background-color: #005a87;
}

.tab-heading p{
    padding: 2px;
    margin: 0px 10px;
    text-align: center;
    font-size: 1rem;
    width: auto;
    white-space: noWrap;
    display: inline-block;
    color: var(--tab-inactive-text-color);
}

.tab-heading.active p{
    color: var(--tab-active-text-color);
}

.tab-heading-remove {
    position: absolute;
    top: -8px;
    right: 0px;
    width: 16px;
    height:16px;
    background-color: #ff4d4d;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-heading-remove button {
    color: #ffffff;
    font-size: 4px;
    border: none;
    background: none;
}

.tab-heading-remove:hover {
    background-color: #ff0000;
    transform: scale(1.1);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.tab-heading:hover{ 
    border-bottom-color: var(--tab-active-color);
}

.tab-heading p:focus {
    outline: none;
    cursor: pointer;
}

.block-editor-block-inspector .tab-block-panel .components-tab-panel__tabs {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e2e4e7;
}

.block-editor-block-inspector .tab-block-panel .components-tab-panel__tabs button {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 8px 0;
    margin: 0;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
}

.block-editor-block-inspector .tab-block-panel .components-tab-panel__tabs button.active-tab {
    border-bottom: 3px solid #007cba;
}

.block-editor-block-inspector .tab-block-panel .components-tab-panel__tabs button:hover {
    border-bottom: 3px solid #007cba;
    color: #007cba;
}

.block-editor-block-inspector .tab-block-panel .components-tab-panel__tabs button svg {
    margin: 0 auto;
}
