.tab-block {
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 16px;
}

.tab-headings {
    display: flex;
    gap: 16px;
    padding: 8px 0;
}


.tab-heading {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.tab-heading.active {
    border-bottom-color: blue;
}



.add-tab-button:hover {
    background-color: #005a87;
}

.tab-heading p{
  color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  width: auto;
  white-space: noWrap;
  display: inline-block;
}  
