.tab-block {
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 16px;
}

.tab-headings {
    display: flex;
    gap: 16px;
    padding: 8px 0;
}

.tab-headings.left {
    justify-content: flex-start;
}

.tab-headings.center {
    justify-content: center;
}

.tab-headings.right {
    justify-content: flex-end;
}

.tab-headings.full {
    justify-content: space-between;
    width: 100%; 
}

.tab-heading {
    width: auto;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    color: var(--tab-inactive-text-color);
    background-color: var(--tab-inactive-background-color); 
}

.tab-heading.active {
    border-bottom-color: var(--tab-active-color);
    background-color: var(--tab-active-background-color);
    color: var(--tab-active-text-color);
}

.tab-headings.full .tab-heading {
  width: 100%;
  text-align: center;
}

.tab-heading p{
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  width: auto;
  white-space: noWrap;
  display: inline-block;
  color: var(--tab-inactive-text-color);
}

.tab-heading:hover{ 
    border-bottom-color: var(--tab-active-color);

}
