@import "./button/style.scss";
@import "./cell/editor.scss";
@import "./image/style.scss";
@import "./style.scss";
@import "./upsell-editor.scss";
@import "./table/creator/styles.scss";
@import "./table/creator/ai-table-modal.scss";
@import "@tableberg/components/editor/color-picker-dropdown-style.scss";
@import "@tableberg/components/editor/border-with-radius-control.scss";

div.components-autocomplete__results
    button[id*="tableberg"][id$="dummy"]::after {
    content: "Pro";

    display: inline-block;

    padding: 2px;
    margin-left: auto;
    border-radius: 2px;

    color: white;
    background-color: #671feb;

    font-weight: 700;
}

.block-editor-inserter__panel-content {
    button[class*="tableberg"][class$="dummy"] {
        > span:last-of-type > span:last-of-type::after {
            content: "Pro";

            display: inline-block;

            padding: 2px;
            margin-left: 5px;
            border-radius: 3px;

            color: white;
            background-color: #671feb;

            font-weight: 700;
        }
    }
}
