@import "./button/style.scss";
@import "./cell/editor.scss";
@import "./image/style.scss";
@import "./style.scss";
@import "./upsell-editor.scss";
@import "@tableberg/components/editor/color-picker-dropdown-style.scss";

div.components-autocomplete__results
    button[id*="tableberg"][id$="dummy"]::after {
    content: "Pro";

    display: inline-block;

    padding: 2px;
    margin-left: auto;
    border-radius: 2px;

    color: white;
    background-color: #671feb;

    font-weight: 700;
}

.block-editor-inserter__panel-content {
    button[class*="tableberg"][class$="dummy"] {
        > span:last-of-type > span:last-of-type::after {
            content: "Pro";

            display: inline-block;

            padding: 2px;
            margin-left: 5px;
            border-radius: 3px;

            color: white;
            background-color: #671feb;

            font-weight: 700;
        }
    }
}

.tableberg-locked-root {
    margin-top: 0 !important;
    grid-column: 1/-1;
    position: relative;
    > * {
        margin-top: 0 !important;
    }

    * {
        color: gray;
    }

    .tableberg-lock-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        display: flex;
        z-index: 1;
        justify-content: right;
        align-items: center;

        &-toolbar {
            padding-right: 10px;
        }

        * {
            color: #671feb;
        }
    }
    
    .components-form-toggle__track {
        border-color: gray !important;
    }
    .components-form-toggle__thumb {
        background: gray !important;
    }
}
