.tableberg-selected-option-row {
  width: 100%;
  background-color: #f3f3f3;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .25rem;
  box-sizing: border-box;

  &__delete-button {
    cursor: pointer;
    background: none;
    border: none;
    color: #9CA3AF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease-in;

    &:hover {
      color: inherit;
    }

    &__icon {
      width: 15px;
      height: 15px;
    }
  }
}
