.tb-star-outer-container {
    display: flex;
}

.tb-star-inner-container,
.tb-star-container {
    display: flex;
    flex-direction: row;
}
.tb-star-rating {
    .tb-review-text {
        margin-top: 20px;
    }
}
.tb-star-inner-container svg {
    margin-top: initial;
}
