/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-tableberg-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;

    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0;
    }

    td .block-list-appender .block-editor-button-block-appender {
        box-shadow: none;
    }
}
