/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

div.wp-block-tableberg-wrapper {
    box-sizing: border-box;


    &[id*="block-"] {
        &.justify-table-left {
            margin-left: 0 !important;
            margin-right: auto !important;
        }
        &.justify-table-center {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        &.justify-table-right {
            margin-left: auto !important;
            margin-right: 0 !important;
        }
    }
    &.justify-table-left {
        margin-left: 0 !important;
        margin-right: auto !important;
    }
    &.justify-table-center {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    &.justify-table-right {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    &.tableberg-scroll-x {
        overflow-x: auto;
        white-space: nowrap;
        table {
            width: 100%;
            width: auto;
            min-width: 100%;

            tr,
            td,
            th {
                min-width: max-content;
            }
        }
    }

    table {
        border-top: var(--tableberg-table-border-top, 1px solid black);
        border-right: var(--tableberg-table-border-right, 1px solid black);
        border-bottom: var(--tableberg-table-border-bottom, 1px solid black);
        border-left: var(--tableberg-table-border-left, 1px solid black);
        border-collapse: var(--tableberg-border-collapse, collapse);
        border-spacing: var(--tableberg-cell-spacing-left, 0)
            var(--tableberg-cell-spacing-top, 0);
        width: 100%;

        color: var(--tableberg-global-text-color);
        font-size: var(--tableberg-global-font-size);

        a {
            color: var(--tableberg-global-link-color);
        }

        &.has-inner-border {
            .wp-block-tableberg-cell {
                border-top: var(
                    --tableberg-inner-border-top,
                    1px solid #000000
                );
                border-right: var(
                    --tableberg-inner-border-right,
                    1px solid #000000
                );
                border-bottom: var(
                    --tableberg-inner-border-bottom,
                    1px solid #000000
                );
                border-left: var(
                    --tableberg-inner-border-left,
                    1px solid #000000
                );
            }
        }

    }

    .wp-block-paragraph [data-rich-text-placeholder]::after {
        content: "Type here"
    }

    .wp-block-paragraph:focus [data-rich-text-placeholder]::after {
        content: "Type / to choose a block"
    }
}

.add-margin-bottom {
    margin-bottom: 20px;
}

