.wp-block-tableberg-cell {
    &.tableberg-drag-left::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        background: blue;
        right: 100%;
        top: 0;
    }

    &.tableberg-drag-right::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        background: blue;
        left: 100%;
        top: 0;
    }

    &.tableberg-drag-top::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: blue;
        left: 0;
        bottom: 100%;
    }

    &.tableberg-drag-bottom::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: blue;
        left: 0;
        top: 100%;
    }

    &.tableberg-drag-active-row {
        background: rgba(236, 213, 6, 0.055);
        &::after {
            border-top: 2px dashed yellow;
            border-bottom: 2px dashed yellow;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            box-sizing: border-box;
        }
    }

    &.tableberg-drag-active-col {
        background: rgba(236, 213, 6, 0.055);
        &::after {
            border-right: 2px dashed yellow;
            border-left: 2px dashed yellow;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            box-sizing: border-box;
        }
    }
}

.tableberg-drag-preview {
    position: fixed;
    pointer-events: none;
    z-index: 2;
}
