.tableberg-styled-list-available-icon {
    display: inline;
}

.editor-styles-wrapper .tableberg_styled_list {
    ul {
        margin-left: 0;
    }
}

.block-editor-block-list__block.wp-block {
    > ul,
    &[data-type="tableberg/styled-list-item"] {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.block-editor-inner-blocks
    > .block-editor-block-list__layout
    > [data-type="tableberg/styled-list"]
    > ul {
    padding-left: 2em;
}
