.tableberg-styled-list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    li svg {
        display: none;
    }

    &.tableberg-list-has-icon {
        .tableberg-list-item-inner {
            display: flex;
            align-items: center;
            gap: var(--tableberg-styled-list-icon-spacing);
            > svg {
                display: initial;
                height: var(--tableberg-styled-list-icon-size, 15px);
                width: var(--tableberg-styled-list-icon-size, 15px);
                fill: var(--tableberg-styled-list-icon-color);
            }
            > div {
                flex-grow: 1;
            }
        }
    }

    li {
        margin-bottom: var(--tableberg-styled-list-spacing);
        .tableberg-inner-list-holder {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    .tableberg-inner-list-holder {
        padding-left: var(--tableberg-styled-list-inner-spacing, 5px);
    }
}
