.tableberg-styled-list {
    margin: 0;
    padding: 0;
    padding-left: calc(
        1em + var(--tableberg-styled-list-padding-left, 0px)
    ) !important;

    li svg {
        display: none;
    }

    &.tableberg-list-has-icon li {
        display: flex;
        align-items: center;
        gap: var(--tableberg-styled-list-icon-spacing);
        > svg {
            display: initial;
            height: var(--tableberg-styled-list-icon-size, 30px);
            width: var(--tableberg-styled-list-icon-size, 30px);
            fill: var(--tableberg-styled-list-icon-color);
        }
        > div {
            flex-grow: 1;
        }
    }

    li {
        margin-bottom: var(--tableberg-styled-list-spacing);
    }
}
ul.tableberg-styled-list {
    padding-left: 0 !important;
    list-style-type: none;
}
