ul.tableberg_styled_list,
ul.tableberg_styled_list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
        position: relative;
        list-style: none;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
